* {
  border: none;
  border-radius: 0;
  font-family: Source Code Pro, sans-serif;
  min-height: 0;
}

window.eDP-1 * {
  font-size: 16px;
}

window.DP-2 * {
  font-size: 22px;
}

window#waybar {
  background: #36454f;
  color: white;
}

#window {
  font-weight: bold;
}

window.eDP-1 #window {
  padding: 4px 0;
}

window.DP-2 #window {
  padding: 8px 0;
}


/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
  font-weight: bold;
  padding: 0 12px;
  background: transparent;
  color: white;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  background: #64727D;
  border-bottom: 3px solid white;
}

#mode {
  background: #64727D;
  border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #backlight, #network, #pulseaudio, #custom-spotify, #tray, #mode, #idle_inhibitor, #custom-redshift {
  padding: 0 16px;
  margin: 0 0px;
}

#clock {
  background: transparent;
}

#pulseaudio, #battery {
  background: transparent;
}

#battery.charging {
  color: #fff44f;
}

@keyframes red-blink {
  to {
    background-color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  color: black;
  animation-name: red-blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory {
  background: #9b59b6;
}

#backlight {
  background: transparent;
}

#network {
  background: transparent;
}

#network.disconnected {
  color: #f53c3c;
  font-weight: bold;
}

#pulseaudio.muted {
  background: transparent;
}

#custom-spotify {
  background: transparent;
}

#custom-redshift {
  background: transparent;
}

#tray {
  background: transparent;
}

#idle_inhibitor {
  background: transparent;
}
